.price{
    position: absolute;
    margin-left: 170px;
    border-radius: 9px;
    margin-top: 120px;
    font-size: 15px;
    border-radius: 18px;
}

#mapid { height: 180px; }

.properties{
    border-radius: 20px;
    font-size: 10px;

}
